<br>
<br>

<div class="center-align">
	<div class="row">
		<div class="col s4">
			<img class="responsive-img" src="<%= user.image %>" style="border-radius: 50%;">
		</div>
		<div class="col s8">
			<h3 class="center teal-text text-accent-3">
				<%= user.firstname %> <%= user.lastname%>
			</h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12 m4">
		<p>About <%= user.firstname %>: <%= user.bio %></p>
	</div>
</div>
<a href="/profile/breweries">Saved Breweries</a>
<a href="/profile/breweries/beers">Saved Beers</a>
