<br>
<div class="center-align">
  <a class="waves-effect waves-light btn-large modal-trigger pink" href="#modal1">Hit me with dat map view
    <i class="right material-icons">map</i>
  </a>
  <br>
  <br>
  <% results.data.forEach((r) => { %>
    <div class="row">
      <div class="col s12">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text center-align" style="line-height: 1.2;">
            <span class="card-title teal-text text-accent-3" style="font-size: 1.5em;"><strong><%= r.brewery.name %></strong></span>
            <br>
            <p>
              <%= r.phone %>
            </p>
            <hr>
            <p><i class="material-icons">directions_walk</i> <%= r.distance %> miles away</p>
            <hr>
            <p>
              <small><%= r.streetAddress%></small>
            </p>
            <p>
              <small><%= r.locality%>, <%= r.region%> <%= r.postalCode%></small>
            </p>
          </div>
          <div class="card-action center-align">
            <form method="GET" action="/breweries/<%= r.brewery.id %>">
              <input type="hidden" name="breweryId" value="<%= r.brewery.id %>">
              <button class="btn waves-effect waves-light pink" type="submit">About this Brewery
                <i class="material-icons right">info_outline</i>
              </button>        
            </form>
          </div>
        </div>
      </div>
    </div>
  <% }) %>
</div>
  <div id="modal1" class="modal bottom-sheet modal-fixed-footer center-align" style="max-height: 100%; height: 100%; top: 0;">
      <div class="navbar-fixed">
        <nav class="pink">
          <h4 style="margin: 10px;">MAP VIEW</h4>
        </nav>
      </div>
    <div class="modal-content blue-grey darken-3 center-align">
    <div id='map' style='width: 100%; height: 100%;'></div>
    </div>
    <div class="modal-footer blue-grey darken-4" style="z-index: 2000">
      <a href="#!" class="modal-close waves-effect waves-green teal accent-4 btn">Close</a>
    </div>
  </div>
</div>
<script>
  mapDefined = true
  mapboxgl.accessToken = '<%= mapkey %>'
  let map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/dark-v10',
    center: [<%= userLong %>, <%= userLat %>],
    zoom: 15
  })
  map.on('load', () => {
    map.addLayer({
      "id": "points",
      "type": "symbol",
      "source": {
        "type": "geojson",
        "data": {
          "type": "FeatureCollection",
          "features": [<%- markers %>]
        }
      },
      "layout": {
        "icon-image": "{icon}-15",
        "text-field": "{title}",
        "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
        "text-offset": [0, 0.6],
        "text-anchor": "top"
      },
      "paint": {
        "text-color": "#e91c63"
      }

    })
  })
</script>